/*.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: left;

}

.navbar-nav > li {
    display: inline-block;
    float:none;
}
*/
.navbar > .container {
    margin: 0em 30em 0em 30em;
}

.h1 {
    color: black;
}

body {
    background-color: rgba(26, 26, 26, 1);
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 10rem rgba(0, 0, 0, .8);
}

.post-divider {
    border: 1px solid white;
}

#hero {
    background-image: url("media/black _ green_w logo 2.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height: /*enter value here*/;
}


#news div.col-4 {
    background-color: black;
    display: inline-flex;
    justify-content: center;
}

.partner-logo {
    height: 3rem;
}

/*FIXING CAROUSEL FADE*/

.carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-out .7s;
}

.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
}

/*FIXING CAROUSEL FADE*/
